<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/board.css">
    <style>
       #boardnum{text-align: center;};
       #readCount{text-align: center;};
       #writer{text-align: center;};  
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="wrap">
        <h2>{{loginUser.userid}}({{loginUser.name}})님 어서오세요 &nbsp;</h2>
        <input type="button" value="회원정보수정" onclick="location.href='/members/updateForm/{{loginUser.userid}}'">
        <input type="button" value="로그아웃" onclick="location.href='/members/logout/'">
        <input type="button" value="글쓰기" onclick="location.href='/members/writeForm/'"><br><br>
        <table id="board-list" align="center">
            <thead>
                <tr>
                    <th widh="100">번호</th>
                    <th widh="400">제목</th>
                    <th widh="100">작성자</th>
                    <th widh="100">작성일자</th>
                    <th widh="100">조회수</th>
                </tr>
           </thead>
           <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        </table>
    </div>
    <script src="/main.js"></script>
</body>
</html>