
{% extends 'layout.html' %} 
<!-- 양식 파일(layout.html)이 현재 페이지로와서 위치하며, 아래 기술되는 block content 와 block script 가 layout.html 의  내용중 해당위치에 삽입됩니다 -->

{% block content %}
    <div class="timeline">
          {% if user %}
          <div>
             <form id="post-form" action="/post" enctype="multipart/form-data">
                <div class="input-group">
                    <textarea id="twit" name="content" maxlength="140"></textarea>
                </div>
                <div class="img-preview">
                    <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
                    <input id="img-url" type="hidden" name="url">
                </div>
                <div>
                    <label id="img-label" for="img">사진 업로드</label>
                    <input id="img" type="file" accept="image/*">
                    <button id="post-btn" type="submit" class="btn">포스팅</button>
                </div>
             </form>
          </div>
          {% endif%}
        <!-- 피드 작성 폼 - 로그인 후에 노출 -->
        <!-- 해시테그로 검색할 수 있는 검색 폼 -->
        <div class="twits">
            <form id="hashtag-form" action="/hashtag">
                <input type="text" name="hashtag" placeholder="태그 검색">
                <button class="btn">검색</button>
            </form>
            <br/>
        </div>
        <!-- 각 피드들이 나열 - 피드가 하나라도 작성되면 노출 -->
    </div>
{% endblock %}

 {% block script %}
    <script type="text/javascript">
            function log(){
                // location:3000/?loginError= 비번이 일치하지 않습니다.
                // 현재 페이지로 이동하는 url에서 loginError 파라미터가 있는지 확인 후 경고창 실행
                let k = new URL(location.href).searchParams.get('loginError');
                if(k){
                    alert(k);
                    location.href='/'
                }
            };
            
            document.getElementById('img').addEventListener('change',async(e)=>{
                    const formData = new FormData();
                    formData.append( 'img',e.target.files[0]);
                    try {
                       const res = await axios.post('/post/img',formData);
                        document.getElementById('img-url').value = res.data.url; 
                        // 히든 태그에 url 대입
                        document.getElementById('img-preview').src = res.data.url; 
                        // 미리보기 태그에 url 대입
                        document.getElementById('img-preview').style.display = 'inline'; 
                        // 미리보기 창 보이기
                    } catch (err) {
                        console.error(err);
                    }
                        
            });
    </script> 
{% endblock %} 