
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>layout.html 파일</h1>
        <h4>여기가 layout.html의 본파일 내용입니다. <br>
        아래에 추가 내용이 확장되어 최종 파일이 완성될 예정입니다 예정입니다</h4>
        <h4>layout.html 파일은 특정 위치의 내용을 상활별로 달리하지만 양식은 하나로 유지해야할때 사용합니다</h4>
        <hr><h2>여기서부터 확장 내용 시작입니다.</h2>
            {% block content %}
            {% endblock %}
        <h2>여기까지가 확장 내용 끝입니다.</h2> <hr>
        <h4>다시 layout.html이 시작합니다</h4>
        <h4>include 는 다른 파일의 내용을 이곳으로 불러와서 표시하는 형식이지만, 
            extends 는 현재파일이 다른 애용에 제공되어 양식을 구성하는 형식입니다. 
            그래서 app.js 에서 render 할때도 layout.html 파일을 지목하지 않고,
             block content 의 내용을 이루는 파일을 지목합니다.</h4>
         <h3>layout.html은 양식 파일이며 다른 중요 내용을 제공할 용도로 사용하므니다.</h3>    
    </main>
</body>
</html>